ul,
#myUL {
  list-style-type: none;
}

.caret {
  cursor: pointer;
  user-select: none;
}

.caret::before {
  content: '\25B6';
  color: white;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  transform: rotate(90deg);
}

.nested {
  display: none;
}

.active {
  display: block;
}

.hidden {
  display: none;
}

.navbar-dark {
  /* background-color: rgb(37, 37, 38) !important; */
}

.vscode-dark,
.list-group-item {
  background-color: rgb(37, 37, 38);
  color: rgb(204, 204, 204);
}

li,
span {
  margin-top: 5px;
}

ul.nested {
  border-left: 1px solid white;
}

ul.nested li:before {
  position: relative;
  top: -0.3em;
  height: 1em;
  width: 12px;
  color: white;
  border-bottom: 1px solid rgb(100, 100, 100);
  content: '';
  display: inline-block;
  left: -7px;
}

#spinner {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  transform: scale(1);
}

input:focus {
  transform: scale(1.2);
}